include ../mixins/flash-messages
include ../mixins/auth/auth-forms

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name='description', content='')
		meta(name='keywords', content='')
		meta(name='author', content='')
		title Satori Path

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600')
		link(rel='stylesheet', href='assets/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='assets/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='assets/css/prettyPhoto.css')
		link(rel='stylesheet', href='assets/css/animate.css')
		link(rel='stylesheet', href='assets/css/style.css')
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
		//if lt IE 9
		script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
		script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
		//
		Favicon 
			link(rel='shortcut icon', href='assets/img/favicon.ico')
	body

		block body
			block content			

		//- MODALS
		block modal
		if !user
			#modal-auth(tabindex="-1", role="dialog", aria-labelledby="signin", aria-hidden="true").modal.fade
				.modal-dialog
					.modal-content
						+auth-forms({ modal: true, initial: 'signin' })

	//- JAVASCRIPT
	//script(src='/js/lib/jquery/jquery-1.10.2.min.js')
	//script(src='/js/lib/jquery/jquery-1.10.2.min.js')
	script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js')
	script(src='/js/lib/bootstrap/collapse.js')
	script(src='/js/lib/bootstrap/dropdown.js')
	script(src='/js/lib/bootstrap/modal.js')

	//- Headroom
	//-script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js")
	//-script(src="//cdn.jsdelivr.net/headroomjs/0.5.0/jQuery.headroom.min.js")
	//-script(src='/js/common/header.js')

	if user && user.canAccessKeystone
		script(src='/keystone/js/content/editor.js')
	
	script(src='/js/ui.js')

	
	//- ANALYTICS
	include ../includes/layout/analytics
	block js
