.site-footer: .container
	.row
		.col-sm-3.hidden-xs
			h4.footer-heading About
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
				a(href='/about') More
		.col-xs-4.col-sm-3
			h4.footer-heading Members
			ul
				li: a(href='/members') Members
				li: a(href='/members/mentoring') Mentoring
				li: a(href='/members/mentors') Mentors
				li: a(href='/join').js-auth-trigger Become a Member
		.col-xs-4.col-sm-3
			h4.footer-heading Resources
			ul
				li: a(href='/organisations') Organisations
				li: a(href='/links') Links
				li: a(href='/blog') Blog
		.col-xs-4.col-sm-3
			h4.footer-heading Sponsors
			ul: each sponsor in sponsors
				li: a(href='/organisations#' + sponsor.id)= sponsor.name
	.footer-copyright
		p Copyright &copy; 2014 SydJS. Powered by <a href='http://keystonejs.com', target='_blank'>KeystoneJS</a>.
		p If you run a meetup, please feel free to clone our site and make your own! You can <a href="https://github.com/JedWatson/sydjs-site", target='_blank'>find it on GitHub</a>.