/***** General *****/

body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

strong { 
	font-weight: 600; 
}

a, a:hover, a:focus {
	color: #754C78;
	text-decoration: none;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

h2, h3 {
	margin-top: 10px;
	font-family: 'Dosis', sans-serif;
	font-size: 50px;
    font-weight: 300;
    line-height: 54px;
}

img { max-width: 100%; }

::-moz-selection { background: #ccc; color: #fff; text-shadow: none; }
::selection { background: #ccc; color: #fff; text-shadow: none; }

/***** Buttons *****/

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0;
	color: #fff;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-lg {
  padding: 12px 18px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}


.btn-primary {
    vertical-align: middle;
    margin-bottom:48px;
    margin-top:20px;
    background: #8F5E99;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  font-weight: 600;
    line-height: 24px;
    color: #fff;
    text-shadow: none;
  border-color: #8F5E99;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  	border-radius: 4px;
	-o-box-shadow: 0 2px 0 #754C78;
     -moz-box-shadow: 0 2px 0 #754C78;
     -webkit-box-shadow: 0 2px 0 #754C78;
     box-shadow: 0 2px 0 #754C78;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background: #754C78;
  border-color: #754C78;
    color: #fff;
}

.btn-top {
	height: 52px;
	font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
  color: #fff;
    background: #8F5E99;
    margin:20px;
    padding: 0 20px;
  border-color: #8F5E99;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  	border-radius: 4px;
	-o-box-shadow: 0 2px 0 #754C78;
     -moz-box-shadow: 0 2px 0 #754C78;
     -webkit-box-shadow: 0 2px 0 #754C78;
     box-shadow: 0 2px 0 #754C78;
}

.btn-top:hover, .btn-top:focus, .btn-top:active, .btn-top.active {
    background: #754C78;
  border-color: #754C78;
    color: #fff;
}

.btn-top-white {
	height: 52px;
	font-family: 'Dosis', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
  color: #754C78;
  background: #fff;
  border-color: #fff;
    margin:20px;
    padding: 0 20px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  	border-radius: 4px;
	-o-box-shadow: 0 2px 0 #EEE9E9;
     -moz-box-shadow: 0 2px 0 #EEE9E9;
     -webkit-box-shadow: 0 2px 0 #EEE9E9;
     box-shadow: 0 2px 0 #EEE9E9;
}

.btn-top-white:hover, .btn-top-white:focus, .btn-top-white:active, .btn-top-white.active {
    background: #EEE9E9;
  border-color: #EEE9E9;
    color: #754C78;
}

/***** Form elements *****/

.form-control {
	background: #fff;
  border: 1px solid #dfdfdf;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
	-o-box-shadow: 0 2px 0 #dfdfdf;
	-moz-box-shadow: 0 2px 0 #dfdfdf;
  	-webkit-box-shadow: 0 2px 0 #dfdfdf;
  	box-shadow: 0 2px 0 #dfdfdf;
}
.form-control:focus {
	background: #fff;
  border: 1px solid #dfdfdf;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
	-o-box-shadow: 0 2px 0 #dfdfdf;
	-moz-box-shadow: 0 2px 0 #dfdfdf;
  	-webkit-box-shadow: 0 2px 0 #dfdfdf;
  	box-shadow: 0 2px 0 #dfdfdf;
}

input[type="text"],
textarea {
    margin: 0;
    padding: 0 10px;
    vertical-align: middle;
	background: #fff;
  border: 1px solid #dfdfdf;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
	-o-box-shadow: 0 2px 0 #dfdfdf;
	-moz-box-shadow: 0 2px 0 #dfdfdf;
  	-webkit-box-shadow: 0 2px 0 #dfdfdf;
  	box-shadow: 0 2px 0 #dfdfdf;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
}

input[type="text"]:focus, 
textarea:focus {
	outline: 0;
  border: 1px solid #dfdfdf;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
	-o-box-shadow: 0 2px 0 #dfdfdf;
	-moz-box-shadow: 0 2px 0 #dfdfdf;
  	-webkit-box-shadow: 0 2px 0 #dfdfdf;
  	box-shadow: 0 2px 0 #dfdfdf;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder { color: #888; 
}

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #888; 
}

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #888; 
}

.btn-subscribe, 
.btn-contact {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background: #8F5E99;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  font-weight: 600;
    line-height: 24px;
    color: #fff;
    text-shadow: none;
  border-color: #8F5E99;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
  	border-radius: 4px;
	-o-box-shadow: 0 2px 0 #754C78;
     -moz-box-shadow: 0 2px 0 #754C78;
     -webkit-box-shadow: 0 2px 0 #754C78;
     box-shadow: 0 2px 0 #754C78;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.btn-subscribe:hover, 
.btn-contact:hover {
    background: #754C78;
  border-color: #754C78;
    color: #fff;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.btn-subscribe:active, 
.btn-contact:active {
	outline: 0;
    background: #754C78;
  border-color: #754C78;
    color: #fff;
}

.btn-subscribe:focus, 
.btn-contact:focus {
	outline: 0;
	color: #fff;
}

/***** Top menu *****/

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background: #fff;
	-o-box-shadow: 0 2px 0 #e4e6e9;
	-moz-box-shadow: 0 2px 0 #e4e6e9;
  	-webkit-box-shadow: 0 2px 0 #e4e6e9;
  	box-shadow: 0 2px 0 #e4e6e9;
    /* font-family: 'Open Sans', sans-serif; */
  font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
	/*font-weight: 400; */
    font-size: 14px;
    line-height: 48px;
}

nav .nav-links { 
text-align: right; 
}

nav .nav-logo { 
text-align: left; 
}

nav a {
	display: inline-block;
	margin: 0 10px;
	padding: 10px 0;
	color: #8F5E99;
}

nav a:hover { 
color: #754C78; 
}

nav a:focus { 
color: #754C78; 
}

nav .nav-logo a {
	font-family: 'Dosis', sans-serif;
    font-size: 28px;
    line-height: 48px;
	font-weight: 700; 
    color: #8F5E99;
}

nav .nav-logo a:hover { 
    color: #754C78;
}

nav .show-menu {
	display: none;
}

nav .show-menu a {
	display: inline-block;
	width: 32px;
	height: 32px;
	margin: 0;
	padding: 0;
	font-size: 21px;
	color: #8F5E99;
}

nav .show-menu a:hover { 
color: #754C78; 
}


/***** Top content *****/

.top-content {
    margin: 0 auto;
    text-align: center;
    color: #fff;
}

.inner-bg {
    padding: 0;
	padding-top: 180px;
	padding-bottom: 180px;
  background: url("../img/pattern.png") repeat; 
  /* stp, issue #1 brightness of gallery */
}



.top-content h2 {
	margin: 80px 0 80px 0;
	font-weight: 300; 
	font-size: 48px;
}


.top-content .top-button {
	margin-top: 40px;
	margin-bottom: 40px;
}


/***** Intro *****/

.intro-container {
    margin: 0 auto;
    padding-bottom: 20px;
    background: #fff;
    color: #888;
    text-align: center;
}

.intro {
    margin-top: 60px;
    padding-bottom: 10px;
}

.intro h3 {
    color: #8F5E99;
}

.intro p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

.intro-box {
	text-align: center;
	background: transparent;
	padding-top: 40px;
	padding-bottom: 40px;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.intro-box:hover{
	background: #8F5E99;
    color: #fff;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.intro-box:hover h4{
    color: #fff;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.intro-box h4 {
	padding: 10px 0;
	font-size: 26px;
	font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #555;
    line-height: 28px;
}

.intro-box p {
	font-size: 17px;
    line-height: 32px;
}

/***** Services *****/

.services-container {
    margin: 0 auto;
    padding-bottom: 60px;
	background: #f8f8f8;
    color: #888;
    text-align: center;
}

.services {
    margin-top: 60px;
    padding-bottom: 10px;
}

.services h3 {
    color: #8F5E99;
}

.services p {
	margin-top: 30px;
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 36px;
}

.service {
	position: relative;
	width: 100%;
	list-style: none;
	padding: 0;
}
.service li {
	float: left;
	width: 100%;
	display: list-item;
	list-style: none;
	position: relative;
	margin-bottom: 40px;
}
.service-icon {
	position: absolute;
	left: 0;
	bottom: -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 1px solid #dfdfdf;
	text-align: center;
	font-size: 35px;
	line-height: 70px;
	color: #754C78;
	background: #f8f8f8;
}
.service-title {
	border-bottom: 1px solid #dfdfdf;
	font-size: 26px;
	font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #555;
    line-height: 28px;
	padding-bottom: 10px;
	margin: 0 30px 25px 0;
	text-align: left;
	padding-left: 100px;
	position: relative;
}
.service-title:after {
	height: 20px;
	width: 1px;
	background: #dfdfdf;
	right: 0;
	bottom: -20px;
	position: absolute;
	content: ""
}
.service li p {
	max-width: 90%;
	float: right;
	text-align: right;
	font-size: 17px;
    line-height: 32px;
}
.service li.inverted .service-title {
	text-align: right;
	padding-left: 0;
	padding-right: 100px;
	margin: 0 0 25px 30px;
}
.service li.inverted .service-title:after {
	right: auto;
	left: 0;
}
.service li.inverted .service-icon {
	left: auto;
	right: 0;
}
.service li.inverted p {
	float: left;
	text-align: left;
}

/***** Subscription form *****/

.subscribe-container {
	margin: 0 auto;
	padding-bottom: 70px;
	background: #fff;
	color: #888;
    text-align: center;
}

.subscribe {
    margin-top: 60px;
}

.subscribe h3 {
	color: #8F5E99;
}

.subscribe p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

.subscribe form {
    margin-top: 40px;
    margin-bottom: 20px;
}

.subscribe form input {
    width: 362px;
    height: 52px;
}

.subscribe form button {
    width: 130px;
    height: 52px;
}

.success-message, .error-message {
    font-size: 22px;
    line-height: 36px;
}

.success-message {
	margin: 20px 0 10px 0;
}

.error-message {
	margin: 10px 0;
	color: #F00;
}

/***** Portfolio *****/

.portofolio-container {
    margin: 0 auto;
    padding-bottom: 60px;
	background: #f8f8f8;
    color: #888;
    text-align: center;
}

.portofolio {
    margin-top: 60px;
    padding-bottom: 70px;
}

.portofolio h3 {
    color: #8F5E99;
}
.portofolio p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}


#gallery a {
	margin-bottom: 30px;
}

.thumbnail,
.img-thumbnail {
  padding: 0px;
    text-align: center;
  background-color: none;
  border: none;
  border-radius: 0px;
}

a.thumbnail:hover {
} 


.gallery-wrap {
	position:relative;
	overflow:hidden;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.gallery-wrap img {
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.gallery-wrap:hover img {
	transform:scale(1.1);
	-ms-transform:scale(1.2); /* IE 9 */
	-moz-transform:scale(1.2); /* Firefox */
	-webkit-transform:scale(1.2); /* Safari and Chrome */
	-o-transform:scale(1.2); /* Opera */
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.gallery-img {
	position:absolute;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	right:0px;
	background: rgba(255,255,255,0.5);
	opacity:0;
	filter: alpha(opacity=0);
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}

.gallery-wrap:hover .gallery-img {
	opacity:1;
	filter: alpha(opacity=100);
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
}


/***** Features *****/

.features-container {
    margin: 0 auto;
    padding-bottom: 60px;
    background: #fff;
    color: #888;
    text-align: center;
}

.features {
    margin-top: 60px;
    padding-bottom: 10px;
}

.features h3 {
    color: #8F5E99;
}

.features p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

.features-box {
	text-align: center;
	background: transparent;
	padding-top: 40px;
	padding-bottom: 40px;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.features-box h4 {
	padding: 10px 0;
	font-size: 26px;
	font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #555;
    line-height: 28px;
}

.features-box p {
	font-size: 17px;
    line-height: 32px;
}

.features-box .icon{
	position: relative;
	padding: 32px 0;
	text-align: center;
    width: 106px;
    height: 106px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 18px;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.features-box .icon i{
	color: #8F5E99;
	font-size: 46px;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.features-box:hover .icon{
	background: #8F5E99;
	transition: all 0.7s;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

.features-box:hover .icon i{
	color: #fff;
    -o-transition: all .7s;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -ms-transition: all .7s;
    transition: all .7s;
}

/***** Vision *****/

.vision-container {
    margin: 0 auto;
    padding-bottom: 60px;
    background: #fff;
    color: #888;
    text-align: center;
}

.vision {
    margin-top: 60px;
    padding-bottom: 40px;
}

.vision h3 {
  color: #8F5E99;
}
.vision p {
  margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

/***** Testimonials *****/

.inner-testimonials {
    margin: 0 auto;
    background: url("../img/pattern.png") repeat;
}

.testimonials-container {
    margin: 0 auto;
    color: #fff;
    background: url("../img/backgrounds/1.jpg") top center no-repeat;
    text-align: center;
}

.testimonials {
    margin-top: 60px;
    padding-bottom: 100px;
}

.testimonials h3 {
    font-size: 50px;
    font-weight: 300;
    color: #fff;
    line-height: 54px;
}

#carousel .carousel-indicators {
position: relative;
top: 30px;
}
#carousel .carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 1px;
    background-color: transparent;
	border: 2px solid;
}
#carousel .carousel-indicators li {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin: 2px;
	margin-bottom: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid;
    border-radius: 10px;
}
#carousel p {
margin-top: 30px;
font-weight: 300;
margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
}
#carousel .author {
font-size: 17px;
font-weight: 600;
color: #fff;
}

/***** Price *****/

.price-container {
    margin: 0 auto;
    padding-bottom: 60px;
    background: #fff;
    color: #888;
    text-align: center;
}

.price {
    margin-top: 60px;
    padding-bottom: 40px;
}

.price h3 {
	color: #8F5E99;
}
.price p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
}

.price-box {
	position: relative;
	background: #fff;
  	border: 1px solid #e4e6e9;
  	border-radius: 4px;
  	overflow: hidden;
	width: 100%;
	text-align: center;
	cursor: default;
    margin-top: 20px;
	-o-box-shadow: 0 2px 0 #e4e6e9;
	-moz-box-shadow: 0 2px 0 #e4e6e9;
  	-webkit-box-shadow: 0 2px 0 #e4e6e9;
  	box-shadow: 0 2px 0 #e4e6e9;
}
.price-title {
	font-size: 18px;
	font-weight: 700;
	font-family: 'Dosis', sans-serif;
	color: #999;
    margin-top: 0px;
    margin-bottom: 0px;
	padding: 20px 0;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
	-moz-transition: all 0.7s;
	-o-transition: all 0.7s;
}
.price-value {
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
	background: #EEE9E9;
	color: #8F5E99;
	padding: 20px 0;
}
.price-value sub {
	font-size: 70%;
	bottom: 2px;
}
.price-list {
	position: relative;
	margin: 0;
	padding: 0;
	padding-botttom: 30px;
	list-style: none;
}
.price-list li {
	display: list-item;
	padding: 14px 0;
	font-size: 17px;
	color: #888;
}


/***** Team *****/

.team-container {
    margin: 0 auto;
    margin-top: 10px;
    padding-bottom: 60px;
    background: #f8f8f8;
    color: #888;
    text-align: center;
}

.team {
    margin-top: 60px;
    padding-bottom: 10px;
}

.team h3 {    
    font-size: 50px;
    color: #8F5E99;
    font-weight: 300;
    line-height: 54px;
}

.team p {
	margin-top: 30px;
    font-size: 22px;
    line-height: 36px;
	margin-bottom: 30px;
}

.team-member {
	background: #f8f8f8;
	padding: 15px;
}
.team-member .photo {
	width: 200px;
	height: 200px;
	margin: 15px auto;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 3px solid #dfdfdf;
	overflow: hidden;
}
.team-member .photo img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.team-member .info {
	position: relative;
	width: 100%;
}
.team-member .name {
	text-align: center;
	font-size: 20px;
	font-family: 'Dosis', sans-serif;
	color: #555;
	margin: 0;
	display: block;
}
.team-member .position {
	display: block;
	font-size: 17px;
	font-style: italic;
	color: #999999;
	text-align: center;
	margin-bottom: 15px;
}
.team-member p {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-align: center;
}
.team-member ul {
	display: block;
	position: relative;
	padding: 0;
	text-align: center;
	margin-top: 20px;
}
.team-member ul li {
	display: inline-block;
	list-style: none;
}
.team-member ul li a {
	color: #899096;
	margin: 10px;
	font-size: 18px;
}
.team-member ul li a:hover {
	color: #754C78;
}

/***** Contact *****/

.contact-container {
	margin: 0 auto;
}

.contact {
    margin-top: 60px;
    padding-bottom: 20px;
    text-align: center;
}

.contact h3 {
    font-size: 50px;
    font-weight: 300;
    color: #8F5E99;
    line-height: 54px;
}

.contact p {
	margin-top: 30px;
    font-size: 22px;
    color: #888;
    line-height: 36px;
}

.contact-form, 
.contact-address {
	padding-bottom: 80px;
}

.form-group h4,
.contact-address h4 {
	padding: 0 0 10px 0;
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #555;
    line-height: 34px;
}

.contact-form p {
	margin: 15px 0 0 0;
	font-size: 18px;
	color: #888;
	line-height: 32px;
}

.contact-form form {
	margin: 15px 0 0 0;
}

.contact-form form input, 
.contact-form form textarea {
    width: 90%;
    height: 52px;
    margin-bottom: 20px;
}

.contact-form form textarea {
	height: 162px;
    margin-bottom: 20px;
    padding: 0 10px;
    vertical-align: middle;
	background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
  border: 1px solid #dfdfdf;
  border-bottom-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
	-o-box-shadow: 0 2px 0 #dfdfdf;
	-moz-box-shadow: 0 2px 0 #dfdfdf;
  	-webkit-box-shadow: 0 2px 0 #dfdfdf;
  	box-shadow: 0 2px 0 #dfdfdf;
}

.contact-form form button {
    width: 130px;
    height: 52px;
}

.contact-form form .contact-error {
	border-color: #F00;
}

.contact-address p {
	margin-bottom: 30px;
	font-size: 18px;
	color: #888;
    line-height: 32px;
}

.contact-address p i {
	padding-right: 15px;
	font-size: 24px;
	color: #8F5E99;
	vertical-align: middle;
}

/***** Map *****/

.map-address {
	margin: 0 auto;
}

.map-address #map {
    padding: 0;
	height: 400px;
}

/***** Footer *****/

footer {
	padding: 20px 0 16px 0;
	background: #222;
}

.copyright p {
	margin: 0;
	font-size: 18px;
    line-height: 62px;
    color: #fff;
}

.social-icon {
	text-align: right;
    font-size: 24px;
    line-height: 44px;
    color: #fff;
	padding: 5px;
}

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

	nav { 
position: static; 
top: auto; 
left: auto; 
width: auto; 
z-index: auto; 
}

	nav .nav-links { 
float: none; 
width: auto; 
text-align: center; 
}

	nav .nav-links a { 
display: none; 
width: 100%; 
margin: 0; 
padding: 10px 0; 
}

	nav .nav-links a:last-child { 
padding-bottom: 20px; 
}

	nav .nav-links .show-menu { 
display: block; 
position: relative; 
}

	nav .nav-links .show-menu a { 
display: inline-block; 
position: absolute; 
top: 15px; 
right: 0; 
width: 32px; 
padding: 0; 
z-index: 99; 
}

    .inner-bg { padding-top: 60px; }

    .features p, .intro p, .services p, .price p, #carousel p, .portofolio p, .team p, .contact p {
    	padding: 0;
    }

}

@media (max-width: 991px) {

}

@media (max-width: 767px) {

    body {
        padding-left: 0;
        padding-right: 0;
    }    

	nav { 
position: static; 
top: auto; 
left: auto; 
width: auto; 
z-index: auto; 
}

	nav .nav-links { 
float: none; 
width: auto; 
text-align: center; 
}

	nav .nav-links a { 
display: none; 
width: 100%; 
margin: 0; 
padding: 10px 0; 
}

	nav .nav-links a:last-child { 
padding-bottom: 20px; 
}
	nav .nav-links .show-menu { 
display: block; 
position: relative; 
}

	nav .nav-links .show-menu a { 
display: inline-block; 
position: absolute; 
top: -63px; 
right: 0; 
width: 32px; 
padding: 0; 
z-index: 99; 
}

        .inner-bg { padding-top: 60px; }


    .top-content h2, .features h3, .intro h3, .price h3, .services h3, .subscribe h3, .portofolio h3, .testimonials h3, .team h3, .contact h3 {
        font-size: 40px;
        padding: 0 20px;
    }

    .features p, .intro p, .services p, .price p, #carousel p, .portofolio p, .team p, .contact p {
        padding: 0 20px;
    }
    
    .intro-box p, .features-box p, .contact-address p {
        padding: 0 20px;
    }
    
    .contact-form, .contact-address {
        text-align: center;
    }
    
    .contact-form {
        padding-bottom: 40px;
    }
    
.contact-form form input, 
.contact-form form textarea {
        width: 100%;
}

    .contact-address {
        padding-bottom: 65px;
    }
    
    .copyright, .social-icon {
        text-align: center;
    }
    
    .copyright p {
        padding: 0 20px;
    }
    
    .social-icon {
        margin-top: 15px;
    }

}

@media (max-width: 540px) {

    .subscribe form input {
        width: 90%;
    }

    .subscribe form button {
        width: 90%;
        margin-top: 10px;
    }

}

@media (max-width: 400px) {


}

@media (max-width: 345px) {

    .top-content h2, .features h3, .intro h3, .price h3, .services h3, .subscribe h3, .portofolio h3, .testimonials h3, .team h3, .contact h3 {
        font-size: 40px;
        padding: 0 20px;
    }


}



.social-signup-buttons {
  display: table;
  margin-bottom: 20px;
  margin-left: -5px;
  margin-right: -5px;
  table-layout: fixed;
  width: 100%;
}
.social-signup-buttons .signup-button {
  display: table-cell;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
}
.social-signup-buttons .signup-button .entypo-social {
  font-size: 40px;
  vertical-align: middle;
}
.social-signup-buttons .signup-button .btn {
  position: relative;
}
.social-signup-buttons .signup-button .btn:hover,
.social-signup-buttons .signup-button .btn:focus {
  top: -1px;
}
.social-signup-buttons .signup-button .btn:active {
  top: 1px;
}
.signup-button__text {
  display: none;
}
@media (min-width: 200px) {
  .signup-button__text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
  }
}
.auth-form-divider {
  color: #d3d3d3;
  margin-bottom: 1.5em;
  margin-top: 1em;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.auth-form-divider:after {
  background-color: #d3d3d3;
  content: "";
  left: 0;
  top: 50%;
  position: absolute;
}
.auth-form-divider-text {
  background-color: #d3d3d3;
  display: inline-block;
  padding: 0 1em;
  position: relative;
  z-index: 1;
}
.modal .auth-form-divider-text {
  background-color: white;
}
.auth-form .form-groups {
  margin-bottom: 1em;
}
.auth-form .form-group {
  margin-bottom: 0;
}
.auth-form .form-control {
  border-radius: 0;
  box-shadow: none;
  height: auto;
  margin-top: -1px;
  padding-bottom: .75em;
  padding-top: .75em;
  -webkit-appearance: none;
}









section * {
  z-index: 2;
}
.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: 50% 50% no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 20;
  filter: alpha(opacity=2000);
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.container {
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  header {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/**
 * Header 23 stylesheet  
 * */
.header-23 {
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
.header-23 > .container {
  position: relative;
}
.header-23 .navbar {
  position: absolute;
  z-index: 2;
  top: 60px;
  font-family: 'Montserrat', sans-serif;
}
.header-23 .navbar.navbar-fixed-top {
  position: fixed;
}
.header-23 .navbar .brand {
  padding-left: 0;
  font-size: 24px;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.header-23 .navbar .brand strong {
  font-weight: 700;
}

.header-23 .navbar .nav > li {
  margin-left: 20px;
}
.header-23 .navbar .nav > li:first-child {
  margin-left: 0;
}
.header-23 .navbar .nav > li > a {
  padding: 31px 0 27px;
  font-size: 16px;
  font-weight: normal;
  font-weight: 500;
  letter-spacing: 1px;
  color: #ffffff;
}
.header-23 .navbar .nav > li > a:hover,
.header-23 .navbar .nav > li > a:focus,
.header-23 .navbar .nav > li > a.active {
  color: #506e8c;
}
.header-23 .navbar .nav > li.active > a {
  color: #506e8c;
}
.header-23 .navbar .nav > li.active > a:hover,
.header-23 .navbar .nav > li.active > a:focus,
.header-23 .navbar .nav > li.active > a.active {
  color: #405870;
}
.header-23 .navbar .navbar-toggle {
  margin-top: 28px;
}
.header-23-sub {
  z-index: 50;
  left: 0;
  width: 100%;
  position: relative;
  /* padding-top: 360px;
     padding-bottom: 270px; */
  padding-top: 60px;
  padding-bottom: 10px;    
  color: white;
  text-align: center;
  background: #1b1e21;
}
.header-23-sub .background {
  background-image: url('/assets/video/satori1.jpg');
}
@media (max-width: 991px) {
  .header-23-sub {
    /* padding-top: 260px;
    padding-bottom: 170px; */
    padding-top: 60px;
    padding-bottom: 10px;
  }
}
.header-23-sub #bgVideo {
  overflow: hidden;
}
.header-23-sub #bgVideo > video {
  position: absolute !important;
  top: 0 !important;
}
.header-23-sub .hero-unit {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 30px;
  letter-spacing: -1px;
}
.header-23-sub .hero-unit strong {
  font-size: 36px;
  font-weight: 800;
  letter-spacing: -2px;
}
@media (max-width: 991px) {
  .header-23-sub .hero-unit strong {
    display: block;
  }
}
.header-23-sub .hero-unit span {
  font-weight: 300;
}
@media (max-width: 991px) {
  .header-23-sub .hero-unit span {
    display: block;
  }
}
.header-23-sub .hero-unit .btn-play {
  display: inline-block;
  text-indent: -9999px;
  vertical-align: middle;
  overflow: hidden;
  width: 67px;
  height: 67px;
  margin: 0 50px;
  background: url("../../startup/common-files/img/header/btn-play.png") no-repeat;
}
@media (max-width: 991px) {
  .header-23-sub .hero-unit .btn-play {
    margin: 35px 0;
  }
}
.header-23-sub .background {
  opacity: 30;
  filter: alpha(opacity=3000);
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.mask {
  z-index: 1000;
  background-color: #000000;
  opacity: 90;
  filter: alpha(opacity=9000);
  opacity: 0.9;
  filter: alpha(opacity=90);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.popup-video {
  z-index: 1000;
  margin: 0 10%;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}
.popup-video > * {
  width: 100%;
  height: 100%;
}

.ticker-row-spacing {
  line-height: 0px;
  height: 30px;
}
