//- SITE FOOTER
footer.site-footer.site-footer--sticky: .container
	.row
		.col-sm-4
			h5.footer-heading About
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			ul.list-inline
				li: a(href='/about') More about Satori
				li: a(href='mailto:brenda@satori-path.com') Contact us

		.col-sm-8
			.row
				.col-xs-4
					h5.footer-heading Members
					ul
						li: a(href='/members') Members
						li: a(href='/mentoring') Info
						if !user
							li: a(href='/join').js-auth-trigger Become a Member
				.col-xs-4
					h5.footer-heading Resources
					ul
						li: a(href='/organisations') Webinars
						li: a(href='/links') Links
						li: a(href='/blog') Blog
						li: a(href='/showbag') Store
				.col-xs-4
					h5.footer-heading Brenda
					ul 
						li Info
	.row.footer-copyright
		p Copyright &copy; 2014 Satori.
		p awaken your truth
